body  {
    min-height:100%;
    background-blend-mode: overlay;
    background-size:cover;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 
 .center {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 #header {
   width:100%;
   padding-left: 100px;
   padding-right: 100px;
   padding-top:20px;
   padding-bottom:20px;
   height:auto;
   margin:0%;
   background-color: darkslategrey;
 }