
    <div id = "footer">
        <h5>This site was made with no templates. Everything was made from scratch. </h5>
        <p>Server hosting was provided using a Linux Server rented from <a href="vultr.com">vultr.com</a>. While services such as Wordpress and Cloudpanel are offered by Vultr, they were not used in the creation of this website. I wished to challenge myself. Also, the base Linux server was cheaper and more versatile, allowing me to potentially use it for other purposes, such has hosting Discord bots.</p>
        <p>The domain name was purchsed form <a href="domains.google.com">Google Domains</a></p>
        <p>Caddy was used to create the webserver, while GO was is used to serve the html. Caddy was chosen for its ease of use, while GO was used for its ability to template repeated portions of webpages.</p>
    </div>
</body>